[2017-03-22 11:35] IdiotYcw opened #3 "Several installing issue(I have fixed)"
Today, when i tried to use the goose package developed by grangier, finally i found it doesnt support python 3.x. So i found this package.
1. i have to say the man who rename the package and main directory to goose3 is careless.
At line 30 in file `setup.py`,
`version = load_source("version", os.path.join("goose", "version.py"))`
should be
`version = load_source("version", os.path.join("goose3", "

[2017-03-23 12:25] lababidi commented on #3
Thank you! would you like to submit a Pull Request and I will merge it in?

On Wed, Mar 22, 2017 at 7:35 AM, XNY <notifications@github.com> wrote:

[2017-03-24 16:28] lababidi commented on #3
@IdiotYcw Thanks for your issue. I've updated the package.

[2017-03-24 16:28] #3 closed

[2017-04-21 12:42] Guitaricet opened #5 "Python 3.6 compatibility error"
import goose3

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/user/anaconda3/lib/python3.6/site-packages/goose3/__init__.py", line 26, in <module>
    from goose3.configuration import Configuration
  File "/Users/user/anaconda3/lib/python3.6/site-packages/goose3/configuration.py", line 28, in <module>
    from goose3.text import StopWords
  File "/Users/use

[2017-05-11 16:35] geovedi commented on #5
as workaround, `regex` module can be used instead of builtin `re`.

[2017-05-11 17:50] lababidi commented on #5
Would either of you @geovedi @Guitaricet like to contribute a Pull Request to fix this issue?

[2017-05-20 16:55] serhiy-storchaka commented on #5
The `re` module doesn't support the `\p{...}` syntax. The pattern `"[^\\p{Ll}\\p{Lu}\\p{Lt}\\p{Lo}\\p{Nd}\\p{Pc}\\s]"` is interpreted as `"[^LNP\\\\cdlopstu{}]"` (any character except `"LNP\\cdlopstu{}"`). If you want to use that regular expression properly you must use the `regex` module.

But it seems that that regular expression is not used and can be removed.

[2017-07-09 18:28] fomiciov commented on #5
Removing this regex actually solves the issue.

[2017-07-13 12:32] blakdronzer opened #7 "Issue parsing base64/png"
Was trying to work around on the following url -
https://www.missmalini.com/2017/07/13/tried-tested-dip-powder-nails/

There i found -it started failing in as the file have a background image with background:url(data:image/png;base64 .... )
[code]

Well how can we address the following ?

[2017-08-21 11:41] beeva-lucasmenendez opened #8 "Error on text.py"
On PUNCTUATION var declaration found and syntax error, missing r before regex:
`PUNCTUATION` = re.compile(r'[^\\p{Ll}\\p{Lu}\\p{Lt}\\p{Lo}\\p{Nd}\\p{Pc}\\s]')`

[2017-08-22 13:58] lababidi commented on #8
PUNCTUATION was never actually used so it was taken out by #6

[2017-08-22 13:58] #8 closed

[2017-08-22 13:58] lababidi commented on #5
#6 closes this

[2017-08-22 13:58] #5 closed

[2017-08-22 14:00] lababidi commented on #7
Apologies for the slow response. Have you found how to tackle the issue?

[2017-10-03 19:29] lababidi commented on #7
@blakdronzer try the following. feel free to submit a PR with any attempts to get this working.

https://stackoverflow.com/questions/33048636/saving-image-from-url-using-python-requests-url-type-error

[2017-11-09 16:21] Eddies101 opened #17 "Missing heading data"
Hi,  I've been trying to extract text from some sites.  The following may be an issue or a feature.  I'm new to programming and python so not quite sure

I'm finding that the extract is missing heading and list data.
For example - [http://bouncebackhigher.com/articles/empathy-a-critical-skill-for-effective-leadership/](http://bouncebackhigher.com/articles/empathy-a-critical-skill-for-effective-lea

[2017-11-10 20:51] barrust opened #18 "Temporary file cleanup"
When pulling images, goose does not clean up the temporary directory of files. It would be beneficial to properly clean up the temp files when goose closes.

Perhaps, turning goose into a context manager would help.

[2017-11-11 13:52] barrust commented on #18
I see two possible solutions to this issue:
1) Generate a unique sub folder in the desired temp directory for each instance of Goose and on close remove the sub folder. I.e., use a uuid to make it unique enough that if someone had multiple instances running it wouldn't cause an issue on cleanup.
2) Keep track of all temp files generated (specifically for the images) and then release them at the en

[2017-11-11 16:21] lababidi commented on #18
These seem like a good idea with the unique id. I'm not sure if you need to keep track of the files if you already have a pointer to the folder I believe that should be good enough.

[2017-11-11 17:46] barrust commented on #18
@lababidi you are correct, with the unique folder, we would not need to keep track of individual files. The down side is that separate instances of Goose would not be able to leverage already downloaded images. I actually started implementing option 2 this morning after thinking about it a bit more.

What I have so far allows for the following syntax:

#### Standard format
[code]

#### Context man

[2017-11-11 17:57] lababidi commented on #18
It sounds daunting but personally I'd rather bake multithreading inside
goose. Maybe leverage urllib or requests if they have multi built in.
Otherwise we can implement it in a basic way.

I need to sit down and think about the goose object and see if we can
implement multithreading within the context so that the extract method is
thread safe.

Either way I think this feature is more of a nice to

[2017-11-11 19:39] barrust commented on #18
I agree. I will submit a PR with the tracking of files solution.

We can figure out multithreading (possibly need something like [grequests](https://github.com/kennethreitz/grequests) to accomplish it.

[2017-11-16 16:15] juanmanubens commented on #5
Had the same issue, was able to solve it like this:

1) Reinstall regex, supersede any old  version
`conda install -c conda-forge regex`

2) In my python code, I was using this:
`import re`

Replace that with this:
`import regex as re`

Everything else equal, you should be back to normal

[2017-11-17 02:04] barrust commented on #18
I submitted a different PR that implements option 1. Either one should work well. I added more tests to ensure the option 1 version works as expected.

[2017-11-21 13:39] pavitrakumar78 opened #21 "Relative image paths not working?..."
Hi,

I tried these links below:
[code]
I get the following errors:
[code]
Perhaps the output should have been the following?...
[code]

System info:
Windows 10
Python 3.5
goose3 installed from here: https://github.com/goose3/goose3
(The one given in the instructions is an old repo I guess?...)

Full traceback for [2]:

[code]

[2017-11-21 15:55] barrust commented on #21
@pavitrakumar78 I had a hunch that relative image URLs were not working but hadn't run into the issue myself. As such, I was already working on tracking down the root of the problem. Your examples helped immensely in tracking it down!

[2017-11-21 15:59] barrust commented on #18
While working on #21 I found why the `relase_resources()` function was not working (yes, it is misspelled). With the fix in #22 it is working correctly and this could be closed without either of the previous PRs.

[2017-11-21 16:29] pavitrakumar78 commented on #21
@barrust hey! Thanks for quick reply and fix! Tested your changes on my system and images are fetched fine for the links I posted. Should I leave this issue open until the changes have been merged?

[2017-11-21 16:38] barrust commented on #21
I'm glad that it worked! I would leave this open until it gets merged so that it doesn't get lost!

[2017-11-21 17:22] pavitrakumar78 opened #23 "Reddit links not working as intended"
Hi,

When I use a reddit link as the input for goose, it reads the title of the post correctly, but weirdly it gives me the current top post on the same subreddit as the cleaned_text.

Example:
[code]
[1] is a random post on the subreddit /r Entrepreneur. The result of above code is:
[code]

Hmm... that's weird... I don't find the description (bold text in output, output of line 4 in code) anywher

[2017-11-21 18:15] barrust commented on #23
@pavitrakumar78 that is strange, but of course any help diagnosing the issue or, even better, a Pull Request would be greatly appreciated!

[2017-11-21 20:20] pavitrakumar78 commented on #23
Just looked at the source of the webpage I linked, the crawler just extracts the content from this part:

[code]

Adding  `{'attr': 'class', 'value':'expando'}` or `{'attr': 'id', 'value': 'siteTable'}` to `KNOWN_ARTICLE_CONTENT_PATTERNS` in configuration.py solves this problem.
(those attribute, value pairs are related to the container of the text post in reach reddit thread)

I noticed something

[2017-11-21 20:23] #23 closed

[2017-11-23 01:30] #18 closed

[2017-11-23 01:33] #21 closed

[2017-11-26 17:31] barrust commented on #17
@Eddies101 I agree that those would be useful items to extract. I haven't had the time recently to look into why lists and headings are not being extracted. Any help would be greatly appreciated!

[2017-12-05 00:45] barrust commented on #7
New example of the issue: https://varvy.com/pagespeed/base64-images.html

[2017-12-09 01:23] #7 closed

[2017-12-12 15:17] Jwink3101 opened #26 "Cleaned HTML?"
using `article.cleaned_text`, I get a nice text description, but it (a) lacks enumerated and bulleted lists and (b) removes images.

It would be really great to have a cleaned article view that contains the HTML of the main text (which clearly goose can find) but still contain the basic HTML.

or, is this possible and I am missing it?

[2017-12-12 16:21] lababidi commented on #26
I'm sure it's possible. It's a good idea.

I would love the help in at least exploring the goose code to see how/where
it can be done.
Wanna give it a shot?

On Tue, Dec 12, 2017 at 10:17 AM, Justin Winokur <notifications@github.com>
wrote:

[2017-12-12 16:44] barrust commented on #26
`article.cleaned_text` is the text of the article. You are correct that, at the moment it removes any lists. For the dom element that is what is used, you may want to look at `article.top_node`

The code documentation for `top_node` says:
[code]

See if that is what you are looking for!

[2017-12-13 15:59] Jwink3101 commented on #26
@barrust, that certainly seems promising. Sadly, with despite a lot of playing (and object introspection) have I not found how to extract the HTML from that top element!

Thanks for the help though...

[2017-12-14 14:27] barrust commented on #26
I believe it is an lxml etree element so perhaps something like this would do it:

[code]

http://lxml.de/tutorial.html

[2018-01-02 15:24] barrust opened #30 "Online Documentation"
While working with goose before participating in the development of goose3, I found that the documentation is lacking. Currently, the only documentation is the README file. Unfortunately, this does not contain all the information about how to configure goose.

There are a few options:

- Use something like [sphinx autodocs](http://www.sphinx-doc.org/en/stable/) that can then be uploaded to [readth

[2018-01-02 22:13] lababidi commented on #30
I think having some sort of idea as to what functions methods and objects
we want "exposed" to the user is the first step and then we can embark on
how to document. At that point in for the easiest solution that is
available.

On Tue, Jan 2, 2018 at 4:24 PM Tyler Barrus <notifications@github.com>
wrote:

[2018-01-02 22:45] barrust commented on #30
At a minimum, I think the `Goose` and `Configuration` objects are the bare minimum. If we decide to expose more of the inner workings then we can. What do you think of that?

[2018-01-02 22:59] lababidi commented on #30
That's perfect. Beyond that, I have no clue what the best documentation
system is these days. I can dig that up if you'd like, but I'm sensing
something that converts the doc to some sort of githubio or readthedocs
should be fine. https://github.com/Syntaf/travis-sphinx seems like a good
solution

On Tue, Jan 2, 2018 at 5:45 PM, Tyler Barrus <notifications@github.com>
wrote:

[2018-01-02 23:12] barrust commented on #30
I have used sphinx in the past. We can use it to pull doc-strings from specific objects. I can start some docs in the coming days and put in a PR. We can tweak the wording easily enough. I know you can get sphinx and travis to play nice, but I haven't done that yet on my other projects.

[2018-01-02 23:51] barrust commented on #30
@lababidi To be more clear, you can have readthedocs pull the documentation for you from github so we wouldn't have to do anything after setting it up.

[2018-01-08 22:21] Enkerli opened #31 "Strange Behaviour from `known_context_patterns`"
As per an exchange with @barrust on a [Python-Goose issue](https://github.com/grangier/python-goose/issues/270) (in Python2), here’s a strange issue from using `known_context_patterns` in goose3 (Python3 on Anaconda for Windows 7, 64bit, on a ThinkPad).

This code fails, and throws a 404 (traceback at the end):
[code]

Uncommenting line 3, it produces this (which isn’t too far from the appropriate

[2018-01-09 18:25] Enkerli commented on #26
Maybe it could also become an option to only parse plain text, in `.extract()`?
The fact that Goose is somehow doing something with images doesn’t sound like a particularly good idea if we just want to work with the plain text (say, for topic modelling). It might even be the part [giving me errors](https://github.com/goose3/goose3/issues/31).

[2018-01-09 19:10] Enkerli commented on #31
The thlot pickens.

This runs in python-goose (Py2):
[code]
The result is empty, but it throws no error. Running `g.extract('https://cyberwales.net/clusters/')` in interactive mode gives me:

But then, the same code in Goose3
[code]
Gives me this traceback:

[code]
(Unlike the Incyde case, it’s not about parsing images.)

My naïve gut feeling is that it might have to do with newlines? Tried parsin

[2018-01-09 20:51] barrust commented on #26
@Enkerli You can turn off the image processing by setting the configuration when setting up goose.

[code]

Hopefully these options will be easier to trace once we have online documentation (#30) is completed

[2018-01-09 23:37] barrust commented on #30
@lababidi Let me know if you have issues setting up read the docs. I think I can set it up under my username if you'd rather me do it.

[2018-01-10 00:06] lababidi commented on #30
Feel free to set it up. Thank you.

On Tue, Jan 9, 2018 at 6:37 PM Tyler Barrus <notifications@github.com>
wrote:

[2018-01-10 00:39] barrust commented on #30
We now have documentation on read the docs!

http://goose3.readthedocs.io/en/latest/

To get it fully setup to rebuild on every commit to master, we will need to setup a webhook in github to push. I do not have access to the settings of the repo to set this part up.

[2018-01-10 13:03] barrust commented on #26
So we are in the process of getting automated documentation builds completed for [goose3 on read the docs](http://goose3.readthedocs.io/en/latest/).

You can find some documentation about setting config options in the [quickstart](http://goose3.readthedocs.io/en/latest/quickstart.html)

Hopefully what is there now will be helpful. If there are gaps (and I know there are gaps so other points of vie

[2018-01-10 14:07] lababidi commented on #30
You are now Admin @barrust

[2018-01-10 21:39] barrust commented on #30
Thanks, I added the webhook. We will know the next time we make a change if everything is ok. I plan on releasing a new version sometime soon. If so, we will have updated documentation for that release.

[2018-01-12 01:28] barrust commented on #30
@lababidi Things look good on the documentation setup. It builds the latest version each time we commit to master. It will also build versions that are tagged.

[2018-01-12 01:28] #30 closed

[2018-01-12 01:34] barrust commented on #31
@Enkerli The second issue (throwing the 404 exception) is due to that is the response from the server. It is returning a 404 error on the 'https://cyberwales.net/clusters/' page. There are differences between python-goose and goose3 that changes the behavior of the page pull. Namely, goose3 uses the requests library which throws the exception.

You can turn off the exception for the page pull by s

[2018-01-12 01:49] barrust commented on #31
Looking at the other issue I found that there are two different things happening:

1. The page has several images that are no longer available which throws the Network 404 error by requests. I suspect that this is an older page and that is why the files are no longer available. You can bypass the missing images by setting either the `strict` or `enable_image_fetching` configuration options to Fals

[2018-01-12 02:01] lababidi commented on #31
Should we consider setting the strict and image_fetch to False as defaults?

On Thu, Jan 11, 2018 at 8:49 PM, Tyler Barrus <notifications@github.com>
wrote:

[2018-01-12 14:04] barrust commented on #31
I personally set enable_image_fetching to False for my own systems. I like having strict on, but that is a personal preference.

[2018-01-15 17:17] Enkerli commented on #31
The two tips did help a bit for my specific case. Thanks a lot for these.

The known context patterns are still causing some weirdness. Tried scraping that [whole site](http://www.incyde.org/) with diverse tags added as known context patterns. Some pages work with one context, others with another context. The key problem is, some pages stop working when two of these contexts are both added to the

[2018-01-30 12:54] kochkinaelena opened #36 "article = g.extract(raw_html=urls_content) hangs for some html files"
[code]

I have a bunch of html files and g.extract hangs indefinitely without crashing for some of them, but works fine for others. What could be the reason for this behaviour?

[2018-01-30 14:10] barrust commented on #36
@kochkinaelena thank you for opening this issue.

Can you tell us more about the files that are hanging? Or better, share one with us? Off the top of my head I don't know why they would be hanging. Something to try would be to turn off image pulling in the configuration. Note that image pulling will be off by default after the next release.

[code]

[2018-01-31 13:48] kochkinaelena commented on #36
This seems to have helped! Thank you!

Best,
Elena

[2018-02-05 13:58] abs51295 commented on #17
@barrust I also see that even the current implementation doesn't handle lists and headings well. Any updates on this?

[2018-02-06 23:28] barrust commented on #17
@abs51295 I haven't had time to look into this; any help would be appreciated!

[2018-02-06 23:30] barrust commented on #36
Great! I am glad that helped out. If everything is working, can we close the issue? Thanks!

[2018-02-07 03:33] abs51295 commented on #17
Sure @barrust I would like to contribute to this! Any pointers to get started or where to look at? Thanks :)

[2018-02-07 10:52] #36 closed

[2018-02-07 12:14] Eddies101 commented on #17
In crawler.py
The problem seem to come in
self.article.cleaned_text = self.formatter.get_formatted_text()   (around line 198)

The raw html (self.article.top_node) before going into this function seems fine but the return from the function seems to be have no list data.

I hope this helps

[2018-02-10 20:56] akatcha opened #38 "Using this tool for Armenian News Analysis"
Your tool is highly effective with English text and I would like this tool to be able to work with Armenian text.
If I wanted to make this compatible with Armenian text from an Armenian news site (http://www.panarmenian.net/arm/news/250976/), is there a way I could do that?

I am no expert here but after a quick sifting through it appears that I would need to:
1. Create a stopwords text file for A

[2018-02-19 02:59] barrust commented on #38
@Andrew-Katcha I believe you are correct that you would need to generate a stop-words list and a class to wrap the required functionality. I agree that it seems simple but I have never tried it myself. I would love to see what you come up with and any pull request is welcome!

[2018-03-14 11:46] applechief opened #40 "Uncaught exceptions with image broken link"
When extracting an article that has images with broken links, the extractor is crashing with the below:

`  File "/env/lib/python3.6/site-packages/goose3/__init__.py", line 81, in extract
    return self.crawl(cc)
  File "/env/lib/python3.6/site-packages/goose3/__init__.py", line 91, in crawl
    article = crawler.crawl(crawl_candidate)
  File "/env/lib/python3.6/site-packages/goose3/crawler.py",

[2018-03-14 12:04] barrust commented on #40
I believe there is a configuration option to turn off throwing these sorts of exceptions. I believe using the following should help:

[code]
A few other questions: what version of goose3 are you using? Can you share the URL for which you received the exception?

[2018-03-14 12:25] applechief commented on #40
The strict configuration did fix it.

Using 3.0.7, error on the following url: http://www.live961.com/lebanon-news/news/2752233/

[2018-03-14 12:59] barrust commented on #40
Wonderful! Glad that fixed it!

[2018-03-14 12:59] #40 closed

[2018-03-28 14:22] kanihal opened #41 "feature request - Need Improvements in 'date published' extraction"
I think using `regex` for some possible date formats below the title and before the start of the article body would be a better option for getting rather 'date published' extraction.

some possible formats could be
`Updated: Oct 01, 2014, 08.30 AM IST
 Published: MARCH 28, 2018 16:09 IST
 28 March, 2018
`
+ all other standard date formats

[2018-03-29 12:24] barrust commented on #41
@kanihal thank you for the feedback. We would love to review any Pull Requests to implement a more exhaustive date published extraction!

[2018-04-03 22:10] #31 closed

[2018-04-03 22:12] #26 closed

[2018-04-06 22:10] guiscaranse opened #42 "Can't supress image error using try-catch"
So, I am getting the following error in my project, I don't really care about images or something, but I JUTS CAN'T supress this with a try catch thing. Any ideas why this happen?

`File not found
Traceback (most recent call last):
  File "C:\Users\User\.virtualenvs\project-1BJbA-LY\lib\site-packages\goose3\utils\images.py", line 45, in get_image_dimensions
    with Image.open(img_file) as image:

[2018-04-06 22:15] guiscaranse commented on #42
Disabling `enable_image_fetching` stops throwing the error. But when its on try-catch can't detect the exception. Is something that you guys should take a look at.

[2018-04-06 23:30] guiscaranse commented on #42
Ok, Image errors aren't the only one, `Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER` is being printed in shell every time that I use goose.

[2018-04-07 00:50] barrust commented on #42
@guiscaranse could you provide example code where this issue is happening? Also, which version of goose3 are you using?

[2018-04-07 08:29] kanihal commented on #41
Found a repo for doing this - https://github.com/berkmancenter/mediacloud-date_guesser

[2018-04-07 12:46] barrust commented on #41
That looks like a really interesting library to extract publish dates. Is this something you would like to take a crack at adding?  It would be in the `goose3/extractors/publishdate.py` file.

[2018-04-07 13:35] barrust commented on #41
Awesome! Let me know if you run into any issues or questions. I have an idea or two on how that library could be integrated into the `publishdate.py` file.

[2018-04-08 21:02] kanihal commented on #41
please do mention it in the thread. I'll add it accordingly.

[2018-04-10 00:42] barrust commented on #41
I was thinking something like this (pseudo code)
[code]

[2018-04-27 15:42] barrust commented on #42
this should be resolved in #43

[2018-04-27 15:42] #42 closed

[2018-05-04 00:45] barrust commented on #41
@kanihal any luck on this issue? Definitely more important to do well on your finals!

[2018-05-13 14:43] eigenwillig opened #44 "Opening local files"
How can I open a local HTML file?

This currently doesn't work and gives me:

[2018-05-13 20:38] barrust commented on #44
Which version of goose3 are you using? Parsing a local html file just requires specifying that you are passing raw html:

[code]

I have seen something like this when the local html file has relative image url's that are being parsed. Try turning off image parsing:
[code]

[2018-05-13 22:15] eigenwillig commented on #44
I've compiled the git version of goose3. Maybe I'm already too tired:

[code]

TypeError: extract() missing 1 required positional argument: 'self'

[2018-05-14 00:01] barrust commented on #44
A couple different things:
1) goose3 doesn't accept file objects. the [raw_html](http://goose3.readthedocs.io/en/latest/code.html#goose3.Goose.extract) parameter is a string parameter.
2) If the code you posted is what you are using, you set g to the Goose object and haven't actually initialized g

To extract from a file one would need to do the following:
[code]

[2018-05-19 15:17] barrust commented on #44
@eigenwillig did this resolve your issue? If so, I would like to close out the ticket. Thanks!

[2018-05-23 22:48] rapsli opened #45 "Extract image from opengraph not correct"
when extracting an image from open graph the src of the image is not fetched correctly. Here is the data I'm trying to fetch

[code]

goose3 returns 500 when querying

parsed_article.opengraph['image']

[2018-05-25 06:34] rapsli commented on #45
Hi
Ok, here the correct markup:

[code]

[2018-05-25 21:07] barrust commented on #45
Thank you. Now I see what the issue you are describing is. The code to parse the opengraph data does the following to determine the key within the dictionary:

[code]
Since it is splitting on `:` and using the second element, the key `image` is returning the last value: `500`. I think the best result would be to do something like this:

[code]

Thoughts?

[2018-05-25 23:38] rapsli commented on #45
that would be awesome! Will test it, but I'm not yet too familiar with Python and espacially with Goose

[2018-05-26 00:53] barrust commented on #45
I will try to get something out in the next day or two. Working on school work at the moment but the change shouldn't be too hard to fix.

[2018-05-26 12:29] rapsli commented on #45
no problem. let me know and I'll do some testing

[2018-05-28 02:39] barrust commented on #45
@rapsli PR #46 should resolve this issue for you. Can you confirm that it is working of the master branch? I will get this pushed to pypi in the coming days. Thanks!

[2018-05-28 04:26] rapsli commented on #45
@barrust It works as expected. Great job!

[2018-05-28 20:32] polosatyi opened #48 "goose3 skips content from HTML lists (ul, ol)"
Hey, guys!

It seems like **goose3** can not extract content from html lists (`ul`, `ol` tags). For example, only "Some text A. Some text C." will be extracted from:
[code]
Is it normal behavior? Is it possible to fix?

[2018-05-29 01:35] barrust commented on #45
Awesome! This has been included in the 3.1.1 release which has been released to pypi.

[2018-05-29 01:35] #45 closed

[2018-05-29 03:57] lababidi opened #49 "GooseImage"
@barrust thank you for your help with all this work. The community owes you a beer or ten. I've not been available to work on goose much, mostly because I'm not using it.

As an architectural design plan, do you think creating a separate module/library to parse out images would be beneficial for separating the focused energy on the image along with focused energy on the text? Or do you think just

[2018-05-29 11:45] polosatyi commented on #48
Or could you point me where can I modify this behavior, please?

[2018-05-29 13:16] polosatyi commented on #48
Example: https://plantcaretoday.com/how-to-grow-and-care-for-bougainvillea.html

[2018-05-29 18:50] barrust commented on #49
I don't personally think it is necessary. We have set the `enable_image_fetching` to False. We are currently using PIL to do most of the work for the image processing.

How do you think it would work if we split it out?

[2018-05-29 19:06] barrust commented on #48
Sadly, this is not a feature. I think we should add this but I haven't been able to look into it.

I think the location that is likely the culprit is the `goose3/extractors/content.py` There seems to be a place where we are not converting the list (and headers #17) to paragraphs.

[2018-05-29 19:59] polosatyi commented on #48
My issue was solved when I changed this line https://github.com/goose3/goose3/blob/master/goose3/extractors/content.py#L353 to
[code]
Can I create a pull request?

[2018-05-29 20:39] lababidi commented on #49
I guess my initial thought is that it would be a module that would extract
all the images from a page. This way it can be expanded upon by other
developers and it would allow Goose to just focus on the text. Just a
thought.

On Tue, May 29, 2018 at 2:50 PM Tyler Barrus <notifications@github.com>
wrote:

[2018-05-30 01:10] barrust commented on #48
@polosatyi I was thinking about this PR a bit more and I wanted to add a bit of formatting to the returned list as I think it will make it easier to read and follow in the cleaned up text. I will submit a PR for review, if you wouldn't mind looking at it that would be great!

[2018-05-30 13:52] polosatyi commented on #48
Honestly, pretty lists is not so important for me. More than that maybe I will have to delete them in my work.

[2018-06-01 00:50] barrust commented on #48
I should be able to add a parameter to optionally add them or take them out. Let me know if that would be helpful!

[2018-06-02 19:01] barrust commented on #48
resolved by #51

[2018-06-02 19:01] #48 closed

[2018-06-02 21:14] polosatyi commented on #48
Thank you!

[2018-06-07 01:00] #17 closed

[2018-06-07 01:00] barrust commented on #17
Merged the ability to pull in #52

[2018-08-06 01:57] barrust opened #57 "Update documentation theme"
Based on changes to readthedocs.org and the use of the sphinx-rtd-theme, it will be necessary to fix the custom theme by changing the name. Also recommend updating the theme to the latest release of sphinx-rtd-theme

[2018-08-06 02:30] barrust commented on #57
resolved by #58

[2018-08-06 02:30] #57 closed

[2018-08-07 13:07] dlrobertson opened #59 "A title with only a separator (and/or the OG site name) causes an IndexError"
A title with only a separator (and/or the `og:site_name`) causes an `IndexError` in `clean_title`.

The fix should be simple enough. I'll post a PR shortly with a test case.

[2018-08-08 00:47] #59 closed

[2018-08-09 14:36] dlrobertson opened #61 "Parse out article info from parsely-page tags"
See https://www.parse.ly/help/integration/ppage/. This isn't used as much now as the open graph protocol, but in the past it was used a lot more. As a result, this provides value to anyone using this library for parsing articles out of historical data e.g. the news crawl, common crawl, etc.

[2018-08-09 15:52] dlrobertson opened #62 "Parse out article info from ReportageNewsArticle"
See https://pending.schema.org/ReportageNewsArticle. BBC uses this scheme. See an example at https://www.bbc.com/news/uk-england-36064659 which contains the following `application/ld+json` section.

[code]

Parsing the data out of the ReportageNewsArticle section should require a good bit of development because we are no longer parsing out the data for X based on a single tag Y with attributes Z.

[2018-08-09 17:12] dlrobertson opened #63 "Parse out additional open graph object types"
See http://ogp.me/#types.

The following

[code]

Should yield something like the following

[code]

In addition, if `article:published_time` is found it should populate `publish_date`.

[2018-08-10 01:38] dlrobertson commented on #62
I'll be working on this tomorrow.

[2018-08-10 13:15] dlrobertson opened #65 "Add a CONTRIBUTING.md"
I typically like to reference the following guides:

 - [Mozilla Science Lab - Wrangling Web Contributions](https://mozillascience.github.io/working-open-workshop/contributing/)
 - [Open Source Guide - Writing Your Contributing Guidelines](https://opensource.guide/starting-a-project/#writing-your-contributing-guidelines)

[2018-08-11 02:16] barrust commented on #65
Would something like [this](https://github.com/barrust/mediawiki/blob/master/CONTRIBUTING.md) work? It is from another project of mine but I could easily convert it for goose3.

[2018-08-14 03:13] #62 closed

[2018-08-15 00:04] #65 closed

[2018-08-15 00:54] barrust commented on #61
@dlrobertson do you have a live example of what this would be like in the wild? I would guess that it would be to find the `parsely-page' named meta tag and then serialize the json string (content) into a dictionary.

[2018-08-16 13:55] barrust commented on #61
Thanks for the example. I will need to look into the `common crawl` I have never heard of it.

[2018-08-16 14:02] dlrobertson commented on #61
The common crawl (http://commoncrawl.org/) and the news crawl (http://commoncrawl.org/2016/10/news-dataset-available/) might be relevant to this project. There might be some users of this project that use it to parse out articles and article metadata from pages one of the common crawl datasets.

[2018-08-16 19:25] #63 closed

[2018-08-20 14:31] dlrobertson commented on #41
I've been doing quite a bit of work on improving publish date parsing. Most of which has been adding support for different schemas (open graph, shema.org, etc), but haven't started on a byline search yet. Like @kanihal suggested, there are several date finder libraries out there that seem to be relatively well maintained.

 - https://github.com/mitmedialab/date_guesser
 - https://github.com/Daniel

[2018-08-20 16:01] dlrobertson opened #72 "The publish_date member should be a datetime object"
The `article.publish_date` member should be a datetime object. There are several libraries that parse out dates from strings. I've used `python-dateutil` in the past.

[2018-08-26 22:44] #61 closed

[2018-08-26 22:45] barrust commented on #72
I personally dislike breaking current code; would adding a new property that is converted to a python datetime be appropriate? I too have used python-dateutil and think that would be a good option here.

[2018-08-31 20:34] #72 closed

[2018-09-04 08:54] dust0x opened #74 "UnicodeDecodeError: invalid continuation byte"
When running a simple extract on [this website](http://wiitalia.it), the program throws a `UnicodeDecodeError`. This exception has not been observed so far for any of the other websites in my dataset.
The traceback is given below:
[code]

And the code to reproduce this error:
[code]
Any ideas as to what's going on here?

[2018-09-05 21:48] dlrobertson opened #78 "Improve meta_description and meta_keywords"
We can also fetch keywords and description information from the Open Graph Protocol. We could either populate `meta_(description|keywords)` with this information, or we could create a new `description` member that contains the `meta_description` if it exists or the Open Graph Protocol `og:description` if that exists.

[2018-09-07 13:05] dust0x commented on #74
@barrust I believe that this is a related error, reproducible with the following website `aquaticplantcentral.com`

[code]
My current goose3 version is installed from source.

[2018-09-07 15:53] barrust commented on #74
Yep, great catch. It looks like another place where there can be a mismatch. For https://www.aquaticplantcentral.com/84724/new-large-pearl-grass it looks like it is that the headers say that it is using a different encoding than what is actually used (probably default). I should have something later today in a PR.

[2018-09-07 15:55] barrust commented on #38
@Andrew-Katcha any luck on this? If you did get Armenian working, I would love a PR to add it to the base install! Either way, can we close this PR?

[2018-09-07 16:55] barrust opened #79 "Add python 3.7 travis-ci testing support"
There should be no code changes (unconfirmed) but travis-ci currently does not support python 3.7
see issue [#9815](https://github.com/travis-ci/travis-ci/issues/9815) on the travis-ci repository.

[2018-09-07 17:00] dlrobertson commented on #79
I currently run goose3 on python 3.7 and it works well

[2018-09-08 05:38] Andrew-Katcha commented on #38
It's been a while.  Let me take a look at it this weekend and fiddle around with it.  I would like to deliver on this

[2018-09-08 07:04] dust0x opened #81 "og_types check fails to handle lists with NoneTypes"
Open graph types is a list but the if condition [here](https://github.com/goose3/goose3/blob/master/goose3/extractors/opengraph.py#L43) fails to check for lists containing `NoneType` leading to the following error, reproducible with quite a few websites (interestingly, almost all  of them are home pages of US football teams), for all of which the `og:type` field contains null values.

https://atla

[2018-09-08 14:52] #74 closed

[2018-09-09 06:08] Andrew-Katcha commented on #38
@barrust
Here is my attempt at it: https://github.com/goose3/goose3/pull/83

[2018-09-09 19:20] dlrobertson opened #84 "og_type does not currently support values with a subset"
## Description

If the og_type is one of [music](http://ogp.me/#type_music) or [video](http://ogp.me/#type_video) the `og_type` will include a subtype. For [video](http://ogp.me/#type_video), the `og_type` will be something like `video.movie`, `video.episode`, `video.tv_show`, or `video.other`. The type specific tags will not be preceded by `video.<subtype>:`, but instead will be prefixed by the n

[2018-09-25 13:51] dlrobertson opened #87 "schema.org extractor should be more generic"
Many sites, use `application/nd+json`, and a schema.org defined structure, but may not use `ReportageNewsArticle`. https://schema.org/NewsArticle and https://schema.org/Article in particular. Many of the items are the same. The reportagenewsarticle extractor should be made to be more generic.

[2018-10-10 09:53] apptech-evan-huang opened #88 "Encoding Problem for some website?"
[code]

When I open this website in Chrome, the web page looks fine.

[2018-10-11 23:28] barrust commented on #88
It is pulling the response in the "correct" encoding, per the HTML which says that it is/should be UTF-8. What should the proper encoding be?

[2018-10-12 00:56] barrust commented on #87
resolved by #89

[2018-10-12 00:56] #87 closed

[2018-10-12 00:56] barrust commented on #84
resolved by #90

[2018-10-12 00:56] #84 closed

[2018-10-12 01:01] barrust opened #91 "Support Opengraph arrays"
There are times when the same tag is used multiple times; we should look into making those elements into arrays in the opengraph dictionary. For an example, see the `article:tag` on [this site](http://xion.io/post/code/python-startswith-tuple.html). The tags are as follows:

[code]

Currently, we keep the final tag, and not the array of all of them. It would be an improvement to add these to an ar

[2018-10-12 03:41] apptech-evan-huang commented on #88
After some research, I think the web page use UTF-8 indeed.

I tested using Chrome Console:
`document.characterSet` which output `UTF-8`

I also use https://nlp.fi.muni.cz/projects/chared/ to detection the charset.
It says both the detection result of specified by document are `utf_8`.

I also use `curl http://hk.on.cc/hk/bkn/cnt/finance/20181010/bkn-20181010171513386-1010_00842_001.html` to print

[2018-10-13 21:33] #88 closed

[2018-10-19 01:44] #79 closed

[2018-11-05 18:21] dlrobertson opened #97 "Use a rdflib for OpenGraphProtocol and schema.org parsing"
## Summary

We be able to use [rdflib] + [rdflib-jsonld] as the parsers for the [Open Graph Protocol] and [json-ld] [schema.org] parsing. I have a WIP version of this [here](https://github.com/dlrobertson/goose3/tree/rdf).

## Pros & Cons

### Pros

 - [rdflib] and [rdflib-jsonld] are both well maintained libraries.
 - We don't have to write a parser!
 - Users could access the `Graph`

### Cons

[2018-11-06 02:38] barrust commented on #97
Would this also help resolve #91?

Would the added dependency restrict access to the library? I.e., would it work in all environments?

[2018-11-06 15:38] dlrobertson commented on #97
Yes

I wasn't able to find anything that would indicate otherwise.

After some more testing, I've unfortunately noticed several cases where it doesn't work too well (in my current implementation).

[2018-12-06 13:09] Popotc opened #99 "Problem of text extraction from http://www.legorafi.fr/"
I am using your library to extract the text of French articles. I have a problem with the articles from http://www.legorafi.fr/. Goose extracts a text but it is not the text of the article we can read on the web. It extracts a hidden text in the source code of the page.

For instance, the text extracted by Goose3 for the page http://www.legorafi.fr/2018/12/05/une-video-dun-elevage-de-porc-lui-fait

[2018-12-20 10:23] Popotc commented on #99
Thank you very much for your answer!

[2018-12-20 20:09] barrust commented on #99
Not a problem!

[2018-12-20 20:09] #99 closed

[2019-01-09 09:14] taherkhalil opened #100 "[enhancement] - Fetching text from mulitple top nodes/divs"
The current flow of text extraction seems to assume , that there is a single div or parent div which contains the entire wanted text data .
And hence for those sites which this is the case(generally most sites ) the Top_node logic pretty good.

But this logic fails on articles where there is wanted text on multiple different divs  , maybe separated by a ad div or some image/graph div -- in  that c

[2019-01-16 15:29] skruse opened #101 "Use all parents of textnode"
Extraction "fails" for the following website as only the parent and parentparent get a score:
https://www.wiwo.de/unternehmen/industrie/linde-gasekonzern-muss-teile-des-us-geschaefts-verkaufen/19562798.html
It will only retrieve one of the "p" blocks (usually the one with the most words) while ignoring the common ancestor of all "p" blocks.

Is there a reason why not all parents get a score? I ada

[2019-01-16 15:37] dlrobertson commented on #101
👍 can you post a PR? Sounds interesting.

[2019-01-16 15:45] skruse commented on #101
Just did here: https://github.com/skruse/goose3/pull/1

[2019-01-16 15:52] dlrobertson commented on #101
If you're willing to post it to the upstream repo it might be something worth merging https://github.com/goose3/goose3/compare/master...skruse:update_score_all_parents

[2019-01-18 14:04] dlrobertson commented on #101
This can be closed now right?

[2019-01-18 16:52] barrust commented on #101
I believe so, I will close now!

[2019-01-18 16:52] #101 closed

[2019-01-18 19:59] skruse commented on #101
Thanks!

[2019-02-07 14:16] trifle commented on #41
Just a thought here:
Enhanced schema and metadata support is always a good improvement.
Guessing dates beyond well-defined standards quickly becomes a slippery slope.

From my experience with news websites, it goes from
(perfectly following standard)
via
(using sane standard dates in some tag, but watch the M/D/Y D/M/Y schism)
to
(we'll just give you a relative date and/or time, e.g. "yesterday").

[2019-02-07 14:32] trifle commented on #100
A quick pointer here, @taherkhalil:
If you want to go into more sophisticated extraction, have a look at the https://github.com/dragnet-org/dragnet project. They do ML-based identification of relevant nodes. This means you can add your own training material if you're not satisfied with the performance for a specific site.

[2019-02-07 15:46] kanihal commented on #41
https://github.com/codelucas/newspaper seems to implement date extraction through regex.
For some reason, the `newspaper` project seems to have gotten a lot of traction compared to goose3, although it started a year later.

[2019-02-10 13:43] Freakwill opened #104 "How do I extract text from a string instead of url"
How do I extract text from a string instead of url?

I did not find the api.

[2019-02-10 18:56] dlrobertson commented on #104
If I'm understanding you correctly, something like the following should work.

[code]

[2019-02-11 07:18] Freakwill commented on #104
Yes, it is what I want. I think that it should work with  plain text, like another summarization tool `sumy`.

[2019-02-11 23:18] barrust commented on #104
Yes, that is how you pull from an html string. Per the docs: [Goose.extract](https://goose3.readthedocs.io/en/latest/code.html#goose3.Goose.extract)

[2019-02-11 23:18] #104 closed

[2019-03-15 20:42] f-dx commented on #100
Thanks @trifle, just another example: https://www.theatlantic.com/magazine/archive/1982/02/have-you-ever-tried-to-sell-a-diamond/304575/. Probably makes sense to add workaround for such cases? I mean to calculate what percentage of visible/readable text is collected by current approach and try to use another technique in case if [captured sentences] / [all sentences] ratio is less than 0.25, for e

[2019-03-28 12:15] roniemartinez opened #105 "Remove footnote markers"
Currently, footnote numerals are not cleaned up. For example, on Wikipedia articles, citations are often left like [1], [2], [a], etc.

BTW, great library! I am currently using it. Thanks!

[2019-04-22 12:13] vasisualy opened #106 "goose3 article.top_node and article.cleaned_text returns None"
Goose returns None on some sites (I found three ones), and I don't suppose why((
Code:

from goose3 import Goose
g=Goose()
url='https://www.omskinform.ru/news/128803'
article=g.extract(url)
print(article.top_node)
print()
print(article.cleaned_text)

None

In other cases, goose works great!
Tnx

[2019-04-26 00:37] barrust commented on #106
Sorry that it didn't work for you out of the box. It looks like, on the site you linked, that you will need to add your own [known_context_pattern](https://goose3.readthedocs.io/en/latest/code.html#goose3.Configuration.known_context_patterns)

Something along the lines of:

[code]

[2019-04-26 00:44] barrust commented on #105
Can you provide an example? What would you be expecting instead?

[2019-04-26 02:45] roniemartinez commented on #105
Wikipedia is the best example. Try to extract an article and you'll see the texts/numbers left by footnotes.

[2019-04-26 12:02] vasisualy commented on #106
Hi, barrust, thank your for answer! But I've seen that way in the other issues, tried, but it still returns None( I solved this task via the other parsing library (using goose3 by default), for example:

from goose3 import Goose
import requests
from readability import Document
from bs4 import BeautifulSoup as bs

g=Goose()

algo=[]
a1_title=[]
a2_cleaned_html=[]
a3_cleaned_text=[]

article=g.extra

[2019-05-04 16:17] barrust commented on #105
For Wikipedia, I would use a wikipedia library such as [pymediawiki](https://github.com/barrust/mediawiki). It will allow you to pull the content from a mediawiki site without the references, etc.

In full disclosure, I maintain that package.

[2019-05-04 16:38] roniemartinez commented on #105
I am familiar with it. However, it is not universal as I cannot use it in other sites that has similar issues with footnotes. Wikipedia is just one of the examples with this issue.

[2019-05-04 16:49] barrust commented on #105
OK, understood! Unfortunately I do not have time at the moment to work on this but PRs are always welcome!

[2019-05-04 16:49] #49 closed

[2019-06-07 06:37] sanjeev9939 opened #107 "How to pass operating system information"
I want to pass operating system information in the script and cookies information in goose3. so that we can handle HTTP error 403 : Forbidden. Could anyone help me

[2019-06-07 13:43] barrust commented on #107
Right now, we do not have a method to pass cookies to sites. We can add it, but it would be a manual configuration.

[code]

Is that what you are thinking?

[2019-06-10 07:53] sanjeev9939 commented on #107
I have already tried it,  I need help in handling HTTP error 403: Forbidden  for thehindu.com and thehundubusinessline.com, please help me in resolving this error

[2019-06-13 12:48] TomJamesPearce commented on #106
I was testing out Goose, I wanted to see how robust it was, and how it handled adding new tags/attr to parse, and I got stuck on @vasisualy 's example of a failure state.

I wanted to see if it was simply a configuration issue, or if failing that I could repair any malformed HTML

[code]

At this point I thought I was going nuts, it still didn't work, custom configs, valid HTML, even a valid artic

[2019-06-13 13:20] TomJamesPearce commented on #107
Hi @sanjeev9939 The easiest way to set your cookies would be to simply use the requests library yourself, and then pass the returned HTML into Goose

[code]

For what it's worth, I tried scraping thehundu.com (only one page) and had no problems.
Maybe they are blocking you for making too many requests?
If that were the case, I'd suggest either spacing out your requests, or looking into proxies.

A

[2019-06-13 17:18] barrust commented on #106
We would love PRs! Thanks for tracking this down!

[2019-08-13 10:17] kartzke opened #108 "Feature Request: Options for Uncleaned_Text and Paragraph_Text"
First of all, awesome work on this extension, it's very powerful for content analysis.  I've started working on a project with Goose3, but the cleaned_text method is not returning the core content of the web page for several different sites i'm running it against.  These URLs are not article pages, they are ecommerce pages.  Due to the structure of the page, it's actually returning boilerplate con

[2019-08-22 02:02] roniemartinez opened #109 "ValueError: Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration."
Hi,

Encountered an error in the use of lxml:
[code]

The issue is similar to this: https://stackoverflow.com/questions/28534460/lxml-etree-xml-valueerror-for-unicode-string

[2019-08-29 07:56] roniemartinez opened #110 "Failing 'known_context_patterns'"
Unable to extract the actual lyrics content:

[code]

[2019-08-31 11:18] neckor commented on #108
I was reading the code to find the same functionality, i think the tags are removed before main content selection.. we'll wait for the response :)

[2019-11-13 12:56] Nimit-Khurana commented on #105
#105
`if self.config.parse_lists:
            # Split out the lists and clean them up! Ensuring no trailing spaces
            txt = text.replace('\n•', '•').split('• ')
            txt = [x.strip() for x in txt]

            if self.config.pretty_lists:
                #text = '\n• '.join(txt)
                # wikipedia citations
                text = re.sub("\[\d\]","", '\n'.join(txt))

[2019-11-16 08:20] roniemartinez commented on #105
Hi @Nimit-Khurana

Wikipedia footnote markers may include letters or even words: https://en.wikipedia.org/wiki/Help:Footnotes#Overview

[2019-11-21 19:15] Nimit-Khurana commented on #105
@roniemartinez
 I checked the output for cleaned_text and all the footnotes in raw_html are converted to string(eg. [1])
I can think of sending the raw_html in crawl method to remove the <sup> tags.
Will this be ok??

[2019-11-22 00:37] roniemartinez commented on #105
Hi @Nimit-Khurana

That will be okay as long as there will be no footnote markers in the cleaned_html.

[2019-12-03 06:54] roniemartinez commented on #105
Hi @Nimit-Khurana

I wonder of Maintainers are looking at your PR. There are failing tests/checks though but I do not think they were from yours.

[2020-05-07 14:07] AviRoy1988 opened #112 "Keep HTML tags, h1, h2 etc tags, images inside article content"
We are getting cleared text from Goose which is perfectly ok, but what changes need to make if I want to keep the HTML structure as well for the content section. Like html tags, images

[2020-05-09 18:42] barrust commented on #105
The failing tests are actually due to this PR  because in many cases the user wants the footnotes, etc. Perhaps a config option could be added to remove the `sup` tag could be added but really, it shouldn't remove it from the `raw_html` element and should be done later in the process. I will make comments in the PR also.

[2020-05-09 18:58] barrust commented on #109
I have been unable to reproduce this error. Are you still experiencing it? If so, what version of Goose3 are you using and can you provide the URL or HTML file and a code sample of how you are experiencing the issue?

[2020-05-09 19:12] barrust commented on #112
Can you explain what you are trying to do? If you want the entire html object it is there in the [raw_html](https://goose3.readthedocs.io/en/latest/code.html#goose3.Article.raw_html) property but if that is the case you likely would just use requests.

[2020-05-23 15:47] jaesivsm commented on #112
Hi, I would have the same request.
I'm using goose in my feed reader ([JARR](https://github.com/jaesivsm/JARR)) and use it for two things:
 * I use `cleaned_text` for article comparison and clustering => that works greater
 * I reconstruct the cleaned article for the use to read with something like :

[code]

That works fine also, but I'm missing all the basic formating and images intended at the

[2020-05-30 09:12] AviRoy1988 commented on #112
Hi Barrust, I don't need total HTML but the top nodes with HTML structure (at least with tags and images, css class is not required).  As jaesivsm said, I also believe I need to make changes in cleaners.py. I am trying to modify but if you have something in mind, could be more helpful.

[2020-11-11 17:56] Yanyul opened #113 "config.known_publish_date_tags Fails"
When trying to apply a customized publish_date_tags for HTML extraction, it failed hard.

This could be one of the reasons why the code never gets to what I added to the known_publish_date_tags. However, when I commented out the two if statements locally, it still gave me the 'default' article:published_time as the publish date output.

[code]

[2020-11-11 18:16] barrust commented on #113
So can you explain to me what you mean by "fails hard"? If the article has an opengraph date than that should be the "best" date to return.
As for when you commented out the two if statements, I am unsure how that would have returned that date as it doesn't use the opengraph data to pull it out unless that if statement is present. Perhaps there was an issue with using your local copy of the code?

[2020-11-12 13:55] Yanyul commented on #113
Thank you for the quick follow-up! :)

This basically means that the scrapper skips any user-customized PublishDatePattern, if the opengraph has a pushlished_time available, and it will never get to extract the date pattern that users added.

I tried both
`config.known_publish_date_tags = PublishDatePattern(attr = "property", value = "article:modified_time", content = 'content')`
`config._known_pu

[2020-11-13 21:36] barrust commented on #113
Generally the `opengraph` data is the most correct data. If you can think of a good way to see if there are user described values and handle those first, I would be open to any Pull Requests. Unfortunately, I do not have time to work much on this project but am happy to help as much as I can.

[2021-01-31 22:34] p0fi opened #114 "Cannot Configure Custom Author Pattern"
Hi,

im trying to configure a custom author pattern but it always fails. My code looks like this

[code]

When running it it always fails with this error message:

[code]

Is there anything im missing here?

[2021-02-01 02:08] barrust commented on #114
@p0fi this is a known issue in [v3.1.6](https://github.com/goose3/goose3/releases/tag/v3.1.6) but has been fixed in the master branch; see [#96](https://github.com/goose3/goose3/pull/96). Until the next version is released, you can either update to the master branch or use a dictionary instead of the AuthorPattern. The next version will have this fixed.

[2021-02-01 09:49] p0fi commented on #114
How would I use a dictionary?

[2021-02-01 14:30] barrust commented on #114
You can add elements either using a list or single item. That item or items in the list can either be an object of the class, in this case the `AuthorPattern` or a dictionary.

Something like this should work, though a new version should be released in the next day or so.

[code]

[2021-02-01 16:16] p0fi commented on #114
Hm your provided example also fails, but with a different error

[code]

[2021-02-01 19:10] barrust commented on #114
Interesting, that *should* have worked but I would have to look into it more. I am hoping to release version 3.1.7 later this evening which hopefully should resolve the issue long term.

[2021-02-02 00:30] barrust commented on #114
A new version has been uploaded. You should be able to update to the latest release and this should be resolved. Please re-open the ticket if you still have issues.

As for the dictionary, apparently it checks for a key of `attribute` instead of `attr`. Not sure this is helpful now as the class is the preferred method.

[2021-02-02 00:30] #114 closed

[2021-02-19 12:54] Pradhvan opened #116 "Can't extract title with article.title, gives empty string."
Hey 👋🏾

I am trying to extract the title from a given URL but the title is given as an empty string. I parsed the raw HTML with BeautifulSoup to check if the article title is present or not. It seems to work with BS4 but not with goose3:

BeautifulSoup Example:

[code]

goose3 example

[code]
It would be really helpful if you folks check if it's a bug or am I doing something wrong?  Thank you 😄

[2021-02-19 13:59] barrust commented on #116
Doing some quick diagnostics it looks like this is happening because in the opengraph the title for this page is the same as the site name. Generally, the library removes the site name from the title. I think a change like the following would fix this issue for you.

`goose3/extractors/title.py`
[code]

[code]

This would keep the title in this case but still clean up the title in cases where the

[2021-02-19 14:04] Pradhvan commented on #116
@barrust I am happy to do a PR 😄

[2021-02-19 14:07] barrust commented on #116
PRs are ALWAYS welcome!

[2021-02-19 14:49] Pradhvan commented on #116
@barrust should I also create an additional test in the `test/test_title.py`? Replicating the same issue when:

[2021-02-19 15:03] barrust commented on #116
If you can, that would be great! If it doesn't make sense, I should be able to help after the PR is merged.

[2021-02-19 15:05] Pradhvan commented on #116
Let me try to figure out how can I add a test for it, if everything works out that would be great. Otherwise will add a test after the PR is merged with your help.

[2021-02-21 08:12] Pradhvan commented on #116
@barrust created a PR with the patch. Please review whenever you are free. 😄

Checking how can I add a unit test for the patch.

[2021-02-22 01:55] #116 closed

[2021-02-22 01:56] barrust commented on #116
To add tests takes a few files to be added; I will create a branch to add a test and @ you on the PR. Thanks for taking this on!

[2021-02-22 02:24] Pradhvan commented on #116
@barrust that would be great :)

[2021-02-22 03:48] #107 closed

[2021-02-22 13:02] barrust commented on #113
@Yanyul can you provide an example URL that I can look at about this issue? I may have an idea on how it could be resolved. Thanks!

[2021-02-22 13:22] barrust commented on #113
So it looks like the modified time that you are looking for is in the opengraph data (see code example below).

With the data here, that could be everything you need, or, perhaps, a modified_date could be added as a property of the article. Besides in the opengraph data, I am unsure of other methods to find the modified time.

Thoughts?

[code]

[2021-02-22 14:01] #105 closed

[2021-02-27 12:02] ArturasDruteika opened #120 "Why when I use top_image I always get None"
Is it error or I do something wrong, every time I try to use article.top_image it return None. No matter what url I pass it is always the same.

[2021-02-27 13:39] barrust commented on #120
Can you provide an example URL that is failing? Also a code sample of how you configured goose3 would be helpful.

According to the docs, you need to enable image fetching (it can take awhile) or it will always be `None`.

[code]
The docs might need to be updated in the Article section to mention that it has to be enabled in the configuration.

[2021-02-27 17:54] ArturasDruteika commented on #120
As for url I pass articles from cnn, nytimes other news outlets articles but still, it always returns None.
url = 'https://10ways.com/improve-yourself/10-ways-to-improve-your-sleep-so-the-following-day-youre-more-productive/13262'

    goose = Goose()

    article_goose = goose.extract(url)
    print(article_goose.top_image)

[2021-02-27 18:48] ArturasDruteika commented on #120
Solved this issue

    from goose3 import Goose, Configuration

    url = 'https://10ways.com/save/how-to-save-money-on-the-philips-perfect-draft-system-beer-kegs-includes-beerhawk/12878'

    config = Configuration()
    config.enable_image_fetching = True

    g = Goose(config)
    article_goose = g.extract(url)

Thank you very much for directing me to look for enabling this feature.

[2021-02-27 18:48] #120 closed

[2021-02-27 19:49] barrust commented on #120
Glad to help and good luck!

[2021-02-27 21:00] ArturasDruteika opened #121 ".movies entity always returns empty list"
[code]

No matter what url (which contains video) I always get empty list. Is there some kind of functionality error or am I doing something wrong?

[2021-02-27 21:27] barrust commented on #121
So, this is an issue with web scrapping. It should pull anything that is a video in the following tags [`iframe`, `embed`, `object`, `video`] but if it is loaded after the html based on a script, then it wouldn't be pulled since it wouldn't exist in the original html.

That being said, I do not have much experience with the video portion of the code. Any help would be appreciated!

[2021-03-18 12:09] rahul4tripathi2 opened #122 "autotranslate webpage support"
Hi Team,

how can we auto translate webpage of any other language url to english using goose3?

Regards
Rahul

[2021-03-20 01:33] barrust commented on #122
Unfortunately, it is out of scope for `goose3` to include auto-translation. There are several libraries that you could use to accomplish this task.

[2021-03-20 01:33] #122 closed

[2021-04-11 10:20] Pradhvan opened #123 "article.title strips half of the title string when title and site_name are diffrent in article.opengraph dict"
Hey 👋🏾

I am trying to extract the title from a given URL but the title that is returned is striped

[code]

Here is the `self.article.opengraph` from `goose3/extractors/title.py`
[code]

In the [goose3/extractors/title.py](https://github.com/goose3/goose3/blob/master/goose3/extractors/title.py#L39) title is replaced with `''` with the `site_name`. I guess `title` and `site_name` are the same for

[2021-04-11 10:22] Pradhvan commented on #123
I am happy to do a PR for the fix. 😄

[2021-04-15 16:10] Pradhvan commented on #123
@barrust should I go ahead with the PR?

[2021-04-16 01:51] barrust commented on #123
PRs are always welcome!

[2021-04-20 20:21] vprelovac commented on #109
@barrust @grangier here is how to reproduce

from goose3 import Goose
import requests
g=Goose()
article=g.extract(raw_html=requests.get("https://arxiv.org/abs/1907.09595").text)

[2021-04-25 19:33] #109 closed

[2021-04-27 11:07] #123 closed

[2021-04-28 07:08] Pradhvan commented on #123
Thanks for the quick release @barrust  Works perfectly now. 🎉

[2021-06-01 12:16] JamieSlome opened #127 "Potential Security Issue"
Hello,

We recently received a vulnerability disclosure against your repository. I couldn't find an e-mail to contact or a security process to follow, so created this issue instead.

If you would like me to e-mail over the details or put them on the GitHub Issue, I'm more than happy to facilitate this for you. Otherwise, you can access the advisory [here](https://huntr.dev/bounties/1-other-goose3/

[2021-07-21 12:26] Vasniktel opened #128 "Timezones cause exceptions"
The following commit added timezones support to the `publish_date` extractor: 4e954adfcaf9e95cc30869e88ace3effef197d5b.

However, provided timezone have `float` offsets (e.g. `"CHADT": 13.75 * 3600`) which causes the following exception in `dateutil`: `Offset must be tzinfo subclass, tz string or int offset`.

[2021-09-13 03:05] ma-ji commented on #36
Hi, I got the same problem. You should be able to replicate it by this line:

[code]

Image fetching is disabled.

Thanks for helping!

[2021-09-14 05:18] ma-ji opened #130 "article = g.extract(raw_html=urls_content) hangs for some html files"
Hi, I got the same problem. You should be able to replicate it by this line:

[code]

Image fetching is disabled.

Thanks for helping!

_Originally posted by @ma-ji in https://github.com/goose3/goose3/issues/36#issuecomment-917798499_

[2021-11-17 04:42] barrust commented on #130
So checking against the related issue in **_codelucas/newspaper_** and it worked on my local linux box using the following code:

[code]
Unsure why this would be failing for you. Can you confirm what version of Goose3 you are using?

[2021-11-17 04:46] #128 closed

[2021-11-17 14:09] barrust commented on #121
I believe in this example, the video is actually an image with an "on-click" set to play it as a video. I am unsure of a good way to handle something like this in this library.

[2021-11-17 14:10] barrust commented on #113
closing as the modified time is provided in opengraph data.

[2021-11-17 14:10] #113 closed

[2021-11-17 15:26] #106 closed

[2021-11-17 15:31] barrust commented on #127
@lababidi is this able to be closed?

[2022-01-18 16:23] openbrian opened #133 "FIPS issue on Rocky Linux"
goose3 is not working in a FIPS environment due to md5.

Jan 17 21:19:13 aj.e.n.o service.sh[1931118]:     link_hash = '%s.%s' % (hashlib.md5(raw_html).hexdigest(), time.time())
Jan 17 21:19:13 aj.e.n.o service.sh[1931118]: ValueError: [digital envelope routines: EVP_DigestInit_ex] disabled for FIPS

I'll submit a PR to change to sha1.  This works.

[2022-01-18 16:34] barrust commented on #133
That is interesting that it is complaining about the md5sum. It is used not in a true cryptographic sense but more to ensure that we don't download the same files and ensure that they have unique names.

A PR with a change to resolve this works for me!

[2022-01-18 18:42] #133 closed

[2022-03-10 12:20] Jonakemon commented on #110
It seems like the [post_cleanup](https://github.com/goose3/goose3/blob/a4607345c2acdb9b6930cfd8c61e25e5563a97c8/goose3/extractors/content.py#L355) action from the ContentExtractor is the culprit. This function - after the scraping happened - removes nodes based on certain properties (i.e. they contain many links, are tables or no paragraphs exist in the node, or a certain nodescore threshold is me

[2022-03-11 14:48] barrust commented on #110
I like the idea to provide a method to supply one's own `ContentExtractor`; how would you recommend implementing something like that?

[2022-03-11 14:56] Jonakemon commented on #110
The Configuration object is handed over all the way to the Crawler object. The Crawler object defines an extractor by using the get_schema_extractor() classmethod. We could define those methods on the Configuration object, which means they'll be overridable by users (they can inherit the Configuration object and override the methods).

The existing code base should change to something like this:
[

[2022-03-29 17:23] #127 closed

[2022-04-17 22:04] LaundroMat commented on #112
I'm looking for something similar: I'm extracting an article from a URL, but I would like to keep some basic formatting (paragraphs, headers, ...). Is there a way to tell Goose not to drop certain tags?

[2022-04-19 19:27] Jonakemon commented on #112
Have you considered using [top_node](https://goose3.readthedocs.io/en/latest/code.html#goose3.Article.top_node)?

If that doesn't return what you'd like, can you provide me with an example HTML and what you would like to have returned?

[2022-04-21 11:23] LaundroMat commented on #112
@Jonakemon [This link](https://vijver.online/onderhoud-vijver-voorjaar-maart-april-mei/) for instance: the main text is detected fine, but formatting and images are not kept.

How can I get all the HTML via `top_node`? `etree.tostring(article.top_node)` returns `<p>` elements and `<style>` attributes, but no `<image>` or `<strong>` tags.

[2022-04-21 11:56] Jonakemon commented on #112
The problem lies in line `crawler.py:240`: `self.article._cleaned_text = self.formatter.get_formatted_text()`. Before this line, the top_node is the raw html of the top node. The get_formatted_text method cleans up the content of the top node. @LaundroMat I don't have a way for you right now to get what you want, sorry! But I've added some context for another maintainer - once he responds I can wo

[2022-05-10 17:56] nnick14 opened #139 "Meta charset malformed - LookupError: unknown encoding"
Affected Goose3 version = 3.1.11

Some websites have malformed meta charset tags ([example article url](https://euroweeklynews.com/2022/05/09/alicante-provinces-orihuela-plans-to-make-the-most-of-its-rainwater/)) where there are leading/trailing characters. In this case it's formatted as:
[code]
When trying to run this article through goose, the following errors are thrown since "--" from the char

[2022-07-06 16:20] efremsternbach opened #141 "unwanted dependency (jieba)"
We use goose as part of our AWS Serverless code. There is a code limit of around 80M for deployment of an AWS Lambda. When deploying recently I ran in to a problem since pip for goose downloads a dependency jieba which apparently is a Chinese language module. This module is 36M! It eats around half my deployment limit for something I don't even want to use.

Aside from doing a manual packaging of

[2022-08-30 00:06] barrust commented on #139
I think the updated regex would likely be the best solution. @lababidi what do you think?

[2022-08-30 00:06] barrust commented on #141
I believe there is a way to add an optional dependency; any help setting it up (PR, etc) to make that possible to remove would be appreciated!

[2022-09-02 17:21] #141 closed

[2022-09-03 15:47] #139 closed

[2022-09-20 02:31] lvzongqiang opened #144 "I got problem when running .exe file by pyinstaller"
error log:
#======================
(base) PS D:\Users\xxx\PycharmProjects\test\dist> .\main.exe
Traceback (most recent call last):
  File "goose3\utils\__init__.py", line 45, in loadResourceFile
  File "codecs.py", line 905, in open
FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\xxx\\AppData\\Local\\Temp\\_MEI201362\\goose3\\resources\\images\\known-image-css.txt'

During hand

[2022-09-22 13:19] barrust commented on #144
@lvzongqiang  I have a PR that should help resolve this issue but I'd like to test it some more. Can you provide the `pyinstaller` command you used to build the executable?

[2022-09-22 14:04] barrust opened #146 "PEP 517 and 621 support"
The old method of building packages (see below) is being deprecated in favor of [PEP 517](https://peps.python.org/pep-0517/) and [PEP 621](https://peps.python.org/pep-0621/) so we should move to the more modern build. This will remove most of the setup.py file and moving either into a setup.cfg or project.toml file.

Old Build Command:
[code]

New Build Command
[code]

[2022-09-23 13:51] #144 closed

[2022-10-03 18:24] #146 closed

[2022-10-05 21:35] barrust opened #151 "camelCase -> snake_case"
To be more pythonic, the library should move from camelCase  to snake_case. This is likely a holdover from the original library that was written in Java.

[2022-10-08 18:30] #151 closed

[2022-10-11 08:45] lababidi commented on #141
This is a fair request! We could make the module optional. Feel free to
make a PR that allows a "cn" to be passed in the pip install to include it.

On Wed, Jul 6, 2022 at 9:21 AM Efrem Sternbach ***@***.***>
wrote: